# Exercise 01: Multiplication Tables

### Q1. Create a Multiplication Table with 'for' Loop

In [14]:
timesTable <- 5
for (i in 1:9){
    cat(paste(timesTable, "X", i, "=", timesTable*i, "\n"))
}

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

### Q2. Create a Multiplication Table by obtaining User Input

In [15]:
timesTable <- readline("Please enter a number: ")
timesTable <- as.integer(timesTable)
for(i in 1:9){
    cat(paste(timesTable, "*", i, "=", timesTable*i, "\n"))
}

Please enter a number: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

### Q3. Create a Function of Multiplication Tables

In [16]:
muTableFunc <- function(x){
    for(i in 1:9){
        cat(paste(x, "*", i, "=", x*i, "\n"))
    }
}

In [17]:
muTableFunc(2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [18]:
muTableFunc(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

### Q4. Create a Function of Multiplication Tables with a Range

In [19]:
muTableFuncRange <- function(x, from, to){
    for(i in from:to){
         cat(paste(x, "*", i, "=", x*i, "\n"))
    }
}

In [20]:
muTableFuncRange(2,5,9)

2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### Q5. Create Multiplication Tables: x2 to x9

In [21]:
for(timesTable in 2:9){
        cat(paste("\n","<", timesTable, "times table", ">","\n"))
    for(i in 1:9){
        cat(paste(timesTable, "*", i, "=", timesTable*i, "\n"))
    }
}

 < 2 times table >
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

 < 3 times table >
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

 < 4 times table >
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

 < 5 times table >
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

 < 6 times table >
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

 < 7 times table >
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

 < 8 times table >
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

 < 9 times table >
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### Drill 1: Mark * if a multiplier is even

In [22]:
timesTable <- 3
for(i in 1:9){
    if(i %% 2 == 0){ # to determine whether i is even or odd
        cat(paste(timesTable, "X", "*", "=", (timesTable*i), "\n"))
    }else{
        cat(paste(timesTable, "X", i, "=", (timesTable*i), "\n"))
    }
}

3 X 1 = 3
3 X * = 6
3 X 3 = 9
3 X * = 12
3 X 5 = 15
3 X * = 18
3 X 7 = 21
3 X * = 24
3 X 9 = 27

### Drill 2: Hide a result if the value > 10

In [25]:
timesTable <- 3
for(i in 1:9){ 
    if(timesTable * i > 10){
        cat(paste(timesTable, "X", i, "=", "\n"))
    }else{
        cat(paste(timesTable, "X", i, "=", (timesTable*i), "\n"))
    }
}

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 =
3 X 5 =
3 X 6 =
3 X 7 =
3 X 8 =
3 X 9 =

### Drill 3: Mark * if the result is odd

In [15]:
timesTable <- 3
for(i in 1:9){ 
    if((timesTable * i) %% 2 == 1){
        cat(paste(timesTable, "X", i, "=", "*", "\n"))
    }else{
        cat(paste(timesTable, "X", i, "=", (timesTable*i), "\n"))
    }
}

3 X 1 = *
3 X 2 = 6
3 X 3 = *
3 X 4 = 12
3 X 5 = *
3 X 6 = 18
3 X 7 = *
3 X 8 = 24
3 X 9 = *

### Drill 4: Create a function of multiplication with two input vectors ( multiplicand and multiplier)

In [20]:
i<-c()
j<-c()
mul.Fun <- function(i, j){ 
    for (x in i){
        cat(paste("\n","<", x, "times table", ">","\n"))
        for(y in j){
            cat(paste(x, "X", y, "=", x*y,"\n"))
        }   
    }
}

In [19]:
i <- c(7:9)
j <- c(3:5)
mul.Fun(i,j)

 < 7 times table >
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35

 < 8 times table >
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40

 < 9 times table >
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45