# randomForest with Mushroom Dataset

# Data

https://archive.ics.uci.edu/ml/datasets/Mushroom

In [14]:
mr_data <- read.csv("./Data/mushroom.csv", head = F)
head(mr_data)

  V1 V2 V3 V4 V5 V6 V7 V8 V9 V10 ⋯ V14 V15 V16 V17 V18 V19 V20 V21 V22 V23
1 p  x  s  n  t  p  f  c  n  k   ⋯ s   w   w   p   w   o   p   k   s   u
2 e  x  s  y  t  a  f  c  b  k   ⋯ s   w   w   p   w   o   p   n   n   g
3 e  b  s  w  t  l  f  c  b  n   ⋯ s   w   w   p   w   o   p   n   n   m
4 p  x  y  w  t  p  f  c  n  n   ⋯ s   w   w   p   w   o   p   k   s   u
5 e  x  s  g  f  n  f  w  b  k   ⋯ s   w   w   p   w   o   e   n   a   g
6 e  x  y  y  t  a  f  c  b  n   ⋯ s   w   w   p   w   o   p   k   n   g

In [15]:
str(mr_data)

'data.frame':	8124 obs. of  23 variables:
 $ V1 : Factor w/ 2 levels "e","p": 2 1 1 2 1 1 1 1 2 1 ...
 $ V2 : Factor w/ 6 levels "b","c","f","k",..: 6 6 1 6 6 6 1 1 6 1 ...
 $ V3 : Factor w/ 4 levels "f","g","s","y": 3 3 3 4 3 4 3 4 4 3 ...
 $ V4 : Factor w/ 10 levels "b","c","e","g",..: 5 10 9 9 4 10 9 9 9 10 ...
 $ V5 : Factor w/ 2 levels "f","t": 2 2 2 2 1 2 2 2 2 2 ...
 $ V6 : Factor w/ 9 levels "a","c","f","l",..: 7 1 4 7 6 1 1 4 7 1 ...
 $ V7 : Factor w/ 2 levels "a","f": 2 2 2 2 2 2 2 2 2 2 ...
 $ V8 : Factor w/ 2 levels "c","w": 1 1 1 1 2 1 1 1 1 1 ...
 $ V9 : Factor w/ 2 levels "b","n": 2 1 1 2 1 1 1 1 2 1 ...
 $ V10: Factor w/ 12 levels "b","e","g","h",..: 5 5 6 6 5 6 3 6 8 3 ...
 $ V11: Factor w/ 2 levels "e","t": 1 1 1 1 2 1 1 1 1 1 ...
 $ V12: Factor w/ 5 levels "?","b","c","e",..: 4 3 3 4 4 3 3 3 4 3 ...
 $ V13: Factor w/ 4 levels "f","k","s","y": 3 3 3 3 3 3 3 3 3 3 ...
 $ V14: Factor w/ 4 levels "f","k","s","y": 3 3 3 3 3 3 3 3 3 3 ...
 $ V15: Factor w/ 9 levels "b","c","e","g",..: 8 8 8 8 8 8 8 8 8 8 ...
 $ V16: Factor w/ 9 levels "b","c","e","g",..: 8 8 8 8 8 8 8 8 8 8 ...
 $ V17: Factor w/ 1 level "p": 1 1 1 1 1 1 1 1 1 1 ...
 $ V18: Factor w/ 4 levels "n","o","w","y": 3 3 3 3 3 3 3 3 3 3 ...
 $ V19: Factor w/ 3 levels "n","o","t": 2 2 2 2 2 2 2 2 2 2 ...
 $ V20: Factor w/ 5 levels "e","f","l","n",..: 5 5 5 5 1 5 5 5 5 5 ...
 $ V21: Factor w/ 9 levels "b","h","k","n",..: 3 4 4 3 4 3 3 4 3 3 ...
 $ V22: Factor w/ 6 levels "a","c","n","s",..: 4 3 3 4 1 3 3 4 5 4 ...
 $ V23: Factor w/ 7 levels "d","g","l","m",..: 6 2 4 6 2 2 4 4 2 4 ...

In [25]:
summary(mr_data)

 V1       V2       V3             V4       V5             V6       V7
 e:4208   b: 452   f:2320   n      :2284   f:4748   n      :3528   a: 210
 p:3916   c:   4   g:   4   g      :1840   t:3376   f      :2160   f:7914
          f:3152   s:2556   e      :1500            s      : 576
          k: 828   y:3244   y      :1072            y      : 576
          s:  32            w      :1040            a      : 400
          x:3656            b      : 168            l      : 400
                            (Other): 220            (Other): 484
 V8       V9            V10       V11      V12      V13      V14
 c:6812   b:5612   b      :1728   e:3516   ?:2480   f: 552   f: 600
 w:1312   n:2512   p      :1492   t:4608   b:3776   k:2372   k:2304
                   w      :1202            c: 556   s:5176   s:4936
                   n      :1048            e:1120   y:  24   y: 284
                   g      : 752            r: 192
                   h      : 732
                   (Other):1170
      V15            V16       V17      V18      V19      V20
 w      :4464   w      :4384   p:8124   n:  96   n:  36   e:2776
 p      :1872   p      :1872            o:  96   o:7488   f:  48
 g      : 576   g      : 576            w:7924   t: 600   l:1296
 n      : 448   n      : 512            y:   8            n:  36
 b      : 432   b      : 432                              p:3968
 o      : 192   o      : 192
 (Other): 140   (Other): 156
      V21       V22      V23
 w      :2388   a: 384   d:3148
 n      :1968   c: 340   g:2148
 k      :1872   n: 400   l: 832
 h      :1632   s:1248   m: 292
 r      :  72   v:4040   p:1144
 b      :  48   y:1712   u: 368
 (Other): 144            w: 192

## Convert text into number

Convert text into number except the 1st column (poisonous or edible)

In [26]:
for (i in 2:23) {
    mr_data[, i] = as.numeric(mr_data[, i])
}

In [27]:
head(mr_data)

  V1 V2 V3 V4 V5 V6 V7 V8 V9 V10 ⋯ V14 V15 V16 V17 V18 V19 V20 V21 V22 V23
1 e  6  3  10 2  1  2  1  1  5   ⋯ 3   8   8   1   3   2   5   4   3   2
2 e  1  3   9 2  4  2  1  1  6   ⋯ 3   8   8   1   3   2   5   4   3   4
3 e  6  3   4 1  6  2  2  1  5   ⋯ 3   8   8   1   3   2   1   4   1   2
4 e  6  4  10 2  1  2  1  1  6   ⋯ 3   8   8   1   3   2   5   3   3   2
5 e  1  3   9 2  1  2  1  1  3   ⋯ 3   8   8   1   3   2   5   3   3   4
6 e  1  4   9 2  4  2  1  1  6   ⋯ 3   8   8   1   3   2   5   4   4   4

## Order by 1st Column (poisonous or edible)

In [28]:
library(doBy)

In [29]:
mr_data <- orderBy(~ V1, mr_data)
head(mr_data)

  V1 V2 V3 V4 V5 V6 V7 V8 V9 V10 ⋯ V14 V15 V16 V17 V18 V19 V20 V21 V22 V23
1 e  6  3  10 2  1  2  1  1  5   ⋯ 3   8   8   1   3   2   5   4   3   2
2 e  1  3   9 2  4  2  1  1  6   ⋯ 3   8   8   1   3   2   5   4   3   4
3 e  6  3   4 1  6  2  2  1  5   ⋯ 3   8   8   1   3   2   1   4   1   2
4 e  6  4  10 2  1  2  1  1  6   ⋯ 3   8   8   1   3   2   5   3   3   2
5 e  1  3   9 2  1  2  1  1  3   ⋯ 3   8   8   1   3   2   5   3   3   4
6 e  1  4   9 2  4  2  1  1  6   ⋯ 3   8   8   1   3   2   5   4   4   4

## Reset rownames (index)

In [30]:
rownames(mr_data) <- c()
head(mr_data)

  V1 V2 V3 V4 V5 V6 V7 V8 V9 V10 ⋯ V14 V15 V16 V17 V18 V19 V20 V21 V22 V23
1 e  6  3  10 2  1  2  1  1  5   ⋯ 3   8   8   1   3   2   5   4   3   2
2 e  1  3   9 2  4  2  1  1  6   ⋯ 3   8   8   1   3   2   5   4   3   4
3 e  6  3   4 1  6  2  2  1  5   ⋯ 3   8   8   1   3   2   1   4   1   2
4 e  6  4  10 2  1  2  1  1  6   ⋯ 3   8   8   1   3   2   5   3   3   2
5 e  1  3   9 2  1  2  1  1  3   ⋯ 3   8   8   1   3   2   5   3   3   4
6 e  1  4   9 2  4  2  1  1  6   ⋯ 3   8   8   1   3   2   5   4   4   4

In [31]:
str(mr_data)

'data.frame':	8124 obs. of  23 variables:
 $ V1 : Factor w/ 2 levels "e","p": 1 1 1 1 1 1 1 1 1 1 ...
 $ V2 : num  6 1 6 6 1 1 1 6 6 1 ...
 $ V3 : num  3 3 3 4 3 4 3 4 4 3 ...
 $ V4 : num  10 9 4 10 9 9 10 10 10 10 ...
 $ V5 : num  2 2 1 2 2 2 2 2 2 2 ...
 $ V6 : num  1 4 6 1 1 4 1 4 1 1 ...
 $ V7 : num  2 2 2 2 2 2 2 2 2 2 ...
 $ V8 : num  1 1 2 1 1 1 1 1 1 1 ...
 $ V9 : num  1 1 1 1 1 1 1 1 1 1 ...
 $ V10: num  5 6 5 6 3 6 3 3 6 11 ...
 $ V11: num  1 1 2 1 1 1 1 1 1 1 ...
 $ V12: num  3 3 4 3 3 3 3 3 3 3 ...
 $ V13: num  3 3 3 3 3 3 3 3 3 3 ...
 $ V14: num  3 3 3 3 3 3 3 3 3 3 ...
 $ V15: num  8 8 8 8 8 8 8 8 8 8 ...
 $ V16: num  8 8 8 8 8 8 8 8 8 8 ...
 $ V17: num  1 1 1 1 1 1 1 1 1 1 ...
 $ V18: num  3 3 3 3 3 3 3 3 3 3 ...
 $ V19: num  2 2 2 2 2 2 2 2 2 2 ...
 $ V20: num  5 5 1 5 5 5 5 5 5 5 ...
 $ V21: num  4 4 4 3 3 4 3 4 3 4 ...
 $ V22: num  3 3 1 3 3 4 4 3 4 4 ...
 $ V23: num  2 4 2 2 4 4 4 2 4 2 ...

In [33]:
summary(mr_data)

 V1             V2              V3              V4               V5
 e:4208   Min.   :1.000   Min.   :1.000   Min.   : 1.000   Min.   :1.000
 p:3916   1st Qu.:3.000   1st Qu.:1.000   1st Qu.: 4.000   1st Qu.:1.000
          Median :4.000   Median :3.000   Median : 5.000   Median :1.000
          Mean   :4.348   Mean   :2.828   Mean   : 5.505   Mean   :1.416
          3rd Qu.:6.000   3rd Qu.:4.000   3rd Qu.: 9.000   3rd Qu.:2.000
          Max.   :6.000   Max.   :4.000   Max.   :10.000   Max.   :2.000
       V6              V7              V8              V9
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:3.000   1st Qu.:2.000   1st Qu.:1.000   1st Qu.:1.000
 Median :6.000   Median :2.000   Median :1.000   Median :1.000
 Mean   :5.145   Mean   :1.974   Mean   :1.161   Mean   :1.309
 3rd Qu.:6.000   3rd Qu.:2.000   3rd Qu.:1.000   3rd Qu.:2.000
 Max.   :9.000   Max.   :2.000   Max.   :2.000   Max.   :2.000
      V10              V11             V12            V13
 Min.   : 1.000   Min.   :1.000   Min.   :1.00   Min.   :1.000
 1st Qu.: 3.000   1st Qu.:1.000   1st Qu.:1.00   1st Qu.:2.000
 Median : 6.000   Median :2.000   Median :2.00   Median :3.000
 Mean   : 5.811   Mean   :1.567   Mean   :2.11   Mean   :2.575
 3rd Qu.: 8.000   3rd Qu.:2.000   3rd Qu.:2.00   3rd Qu.:3.000
 Max.   :12.000   Max.   :2.000   Max.   :5.00   Max.   :4.000
      V14             V15             V16             V17         V18
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1   Min.   :1.000
 1st Qu.:2.000   1st Qu.:7.000   1st Qu.:7.000   1st Qu.:1   1st Qu.:3.000
 Median :3.000   Median :8.000   Median :8.000   Median :1   Median :3.000
 Mean   :2.604   Mean   :6.816   Mean   :6.795   Mean   :1   Mean   :2.966
 3rd Qu.:3.000   3rd Qu.:8.000   3rd Qu.:8.000   3rd Qu.:1   3rd Qu.:3.000
 Max.   :4.000   Max.   :9.000   Max.   :9.000   Max.   :1   Max.   :4.000
      V19             V20             V21             V22
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:2.000   1st Qu.:1.000   1st Qu.:3.000   1st Qu.:4.000
 Median :2.000   Median :3.000   Median :4.000   Median :5.000
 Mean   :2.069   Mean   :3.292   Mean   :4.597   Mean   :4.644
 3rd Qu.:2.000   3rd Qu.:5.000   3rd Qu.:8.000   3rd Qu.:5.000
 Max.   :3.000   Max.   :5.000   Max.   :9.000   Max.   :6.000
      V23
 Min.   :1.000
 1st Qu.:1.000
 Median :2.000
 Mean   :2.509
 3rd Qu.:3.000
 Max.   :7.000

# Split the data into train and test sets (7:3)

### Check the numbers of total and 70% data

In [34]:
nrow(subset(mr_data, V1=="e"))
nrow(subset(mr_data, V1 =="p"))

[1] 4208

[1] 3916

In [35]:
nrow(subset(mr_data, V1=="e")) * 0.7
nrow(subset(mr_data, V1 =="p")) * 0.7

[1] 2945.6

[1] 2741.2

### Create training and test datasets

In [37]:
samp <- c(sample(1:4208, 2945), sample(4209:8124, 2741))

In [38]:
train <- mr_data[samp,]
test <- mr_data[-samp,]

In [45]:
summary(train)

 V1             V2              V3              V4               V5
 e:2945   Min.   :1.000   Min.   :1.000   Min.   : 1.000   Min.   :1.000
 p:2741   1st Qu.:3.000   1st Qu.:1.000   1st Qu.: 4.000   1st Qu.:1.000
          Median :4.000   Median :3.000   Median : 5.000   Median :1.000
          Mean   :4.338   Mean   :2.807   Mean   : 5.521   Mean   :1.413
          3rd Qu.:6.000   3rd Qu.:4.000   3rd Qu.: 9.000   3rd Qu.:2.000
          Max.   :6.000   Max.   :4.000   Max.   :10.000   Max.   :2.000
       V6              V7              V8              V9
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:3.000   1st Qu.:2.000   1st Qu.:1.000   1st Qu.:1.000
 Median :6.000   Median :2.000   Median :1.000   Median :1.000
 Mean   :5.124   Mean   :1.977   Mean   :1.164   Mean   :1.307
 3rd Qu.:6.000   3rd Qu.:2.000   3rd Qu.:1.000   3rd Qu.:2.000
 Max.   :9.000   Max.   :2.000   Max.   :2.000   Max.   :2.000
      V10              V11             V12             V13
 Min.   : 1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.: 3.000   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:2.000
 Median : 6.000   Median :2.000   Median :2.000   Median :3.000
 Mean   : 5.828   Mean   :1.564   Mean   :2.116   Mean   :2.565
 3rd Qu.: 8.000   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:3.000
 Max.   :12.000   Max.   :2.000   Max.   :5.000   Max.   :4.000
      V14             V15             V16             V17         V18
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1   Min.   :1.000
 1st Qu.:2.000   1st Qu.:7.000   1st Qu.:7.000   1st Qu.:1   1st Qu.:3.000
 Median :3.000   Median :8.000   Median :8.000   Median :1   Median :3.000
 Mean   :2.597   Mean   :6.828   Mean   :6.804   Mean   :1   Mean   :2.969
 3rd Qu.:3.000   3rd Qu.:8.000   3rd Qu.:8.000   3rd Qu.:1   3rd Qu.:3.000
 Max.   :4.000   Max.   :9.000   Max.   :9.000   Max.   :1   Max.   :4.000
      V19             V20             V21             V22             V23
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.00
 1st Qu.:2.000   1st Qu.:1.000   1st Qu.:3.000   1st Qu.:4.000   1st Qu.:1.00
 Median :2.000   Median :3.000   Median :4.000   Median :5.000   Median :2.00
 Mean   :2.071   Mean   :3.292   Mean   :4.569   Mean   :4.642   Mean   :2.52
 3rd Qu.:2.000   3rd Qu.:5.000   3rd Qu.:8.000   3rd Qu.:5.000   3rd Qu.:3.00
 Max.   :3.000   Max.   :5.000   Max.   :9.000   Max.   :6.000   Max.   :7.00

In [46]:
summary(test)

 V1             V2              V3              V4               V5
 e:1263   Min.   :1.000   Min.   :1.000   Min.   : 1.000   Min.   :1.000
 p:1175   1st Qu.:3.000   1st Qu.:1.000   1st Qu.: 4.000   1st Qu.:1.000
          Median :4.000   Median :3.000   Median : 5.000   Median :1.000
          Mean   :4.372   Mean   :2.877   Mean   : 5.466   Mean   :1.421
          3rd Qu.:6.000   3rd Qu.:4.000   3rd Qu.: 9.000   3rd Qu.:2.000
          Max.   :6.000   Max.   :4.000   Max.   :10.000   Max.   :2.000
       V6              V7              V8              V9
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.000
 1st Qu.:3.000   1st Qu.:2.000   1st Qu.:1.000   1st Qu.:1.000
 Median :6.000   Median :2.000   Median :1.000   Median :1.000
 Mean   :5.193   Mean   :1.968   Mean   :1.155   Mean   :1.313
 3rd Qu.:6.000   3rd Qu.:2.000   3rd Qu.:1.000   3rd Qu.:2.000
 Max.   :9.000   Max.   :2.000   Max.   :2.000   Max.   :2.000
      V10             V11             V12             V13             V14
 Min.   : 1.00   Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.00
 1st Qu.: 3.00   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:2.000   1st Qu.:2.00
 Median : 6.00   Median :2.000   Median :2.000   Median :3.000   Median :3.00
 Mean   : 5.77   Mean   :1.575   Mean   :2.094   Mean   :2.599   Mean   :2.62
 3rd Qu.: 8.00   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:3.000   3rd Qu.:3.00
 Max.   :12.00   Max.   :2.000   Max.   :5.000   Max.   :4.000   Max.   :4.00
      V15            V16             V17         V18             V19
 Min.   :1.00   Min.   :1.000   Min.   :1   Min.   :1.000   Min.   :1.000
 1st Qu.:7.00   1st Qu.:7.000   1st Qu.:1   1st Qu.:3.000   1st Qu.:2.000
 Median :8.00   Median :8.000   Median :1   Median :3.000   Median :2.000
 Mean   :6.79   Mean   :6.772   Mean   :1   Mean   :2.957   Mean   :2.065
 3rd Qu.:8.00   3rd Qu.:8.000   3rd Qu.:1   3rd Qu.:3.000   3rd Qu.:2.000
 Max.   :9.00   Max.   :9.000   Max.   :1   Max.   :4.000   Max.   :3.000
      V20             V21            V22             V23
 Min.   :1.000   Min.   :1.00   Min.   :1.000   Min.   :1.000
 1st Qu.:1.000   1st Qu.:3.00   1st Qu.:4.000   1st Qu.:1.000
 Median :3.000   Median :4.00   Median :5.000   Median :2.000
 Mean   :3.292   Mean   :4.66   Mean   :4.648   Mean   :2.482
 3rd Qu.:5.000   3rd Qu.:8.00   3rd Qu.:5.000   3rd Qu.:3.000
 Max.   :5.000   Max.   :9.00   Max.   :6.000   Max.   :7.000

## Train the data

In [47]:
library(randomForest)

randomForest 4.6-14

Type rfNews() to see new features/changes/bug fixes.

In [51]:
rf <- randomForest(V1 ~., data = train, ntree = 100)
rf

Call:
 randomForest(formula = V1 ~ ., data = train, ntree = 100)
               Type of random forest: classification
                     Number of trees: 100
No. of variables tried at each split: 4

        OOB estimate of  error rate: 0%
Confusion matrix:
     e    p class.error
e 2945    0           0
p    0 2741           0

## Run prediction

In [56]:
pred <- predict(rf, test)
head(pred)

 2  5  8 12 13 16
 e  e  e  e  e  e
Levels: e p

## Calculate accuracy

In [57]:
mean(pred == test$V1)

[1] 1

In [59]:
# Accuracy: 100%