In [22]:
options(scipen=100)

## Correlation Test

- H0: temperature and ice cream sales is not correlated.
- H1: temperature and ice cream sales is correlated.

## Data

In [27]:
# Sales Figures
temperature  <- c(32.1, 33.5, 34.1, 34.8, 33.4, 31.0, 29.0)
iceCream     <- c(70  , 75  , 82  , 82  , 78  , 68  , 66  )

In [29]:
summary(temperature)
summary(iceCream)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  29.00   31.55   33.40   32.56   33.80   34.80

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  66.00   69.00   75.00   74.43   80.00   82.00

## Correlation Coefficient

In [30]:
cor(temperature, iceCream, method = "pearson")

[1] 0.9344274

## Correlation Test

In [31]:
cor.test(temperature, iceCream, method = "pearson")

	Pearson's product-moment correlation

data:  temperature and iceCream
t = 5.8667, df = 5, p-value = 0.002041
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.6120687 0.9904955
sample estimates:
      cor
0.9344274

    : p-value of the test is 0.002041, which is less than the significance level alpha = 0.05. Therefore, based on the data we can conclude that pre and post are significantly correlated with a correlation cofficient of 0.9344274 and p-value of 0.002041.

# Example

## Seoul Accident

In [2]:
seoul <- read.csv("./Data/SeoulAccident.csv", fileEncoding = "CP949", encoding = "UTF-8")
head(seoul)

  Year Month District Accident Deaths Injured
1 2011 1     Jongno   115      2      165
2 2011 2     Jongno    99      0      134
3 2011 3     Jongno   116      0      162
4 2011 4     Jongno   110      1      153
5 2011 5     Jongno   122      0      157
6 2011 6     Jongno   116      3      163

In [3]:
cor(seoul[4:6])

         Accident  Deaths    Injured
Accident 1.0000000 0.2295247 0.9796363
Deaths   0.2295247 1.0000000 0.2274515
Injured  0.9796363 0.2274515 1.0000000

In [5]:
cor.test(seoul$Accident, seoul$Injured)

	Pearson's product-moment correlation

data:  seoul$Accident and seoul$Injured
t = 223.48, df = 2098, p-value < 2.2e-16
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.9778366 0.9812913
sample estimates:
      cor
0.9796363

In [6]:
cor.test(seoul$Accident, seoul$Deaths)

	Pearson's product-moment correlation

data:  seoul$Accident and seoul$Deaths
t = 10.802, df = 2098, p-value < 2.2e-16
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.1886020 0.2696517
sample estimates:
      cor
0.2295247

## Score data

In [8]:
sco <- read.csv("./Data/scoreIQ.txt")
head(sco)

  Student Score IQ  PrivateInstitutes Gameplay TV
1 A       90    140 2                 1        0
2 B       75    125 1                 3        3
3 C       77    120 1                 0        4
4 D       83    135 2                 3        2
5 E       65    105 0                 4        4
6 F       80    123 3                 1        1

In [9]:
cor(sco[-1])

                  Score      IQ         PrivateInstitutes Gameplay   TV
Score              1.0000000  0.9102242  0.7840514        -0.3383549 -0.8473333
IQ                 0.9102242  1.0000000  0.6009466        -0.1038108 -0.6783251
PrivateInstitutes  0.7840514  0.6009466  1.0000000        -0.3106005 -0.8465387
Gameplay          -0.3383549 -0.1038108 -0.3106005         1.0000000  0.2440191
TV                -0.8473333 -0.6783251 -0.8465387         0.2440191  1.0000000

In [10]:
cor.test(sco$Score, sco$IQ)

	Pearson's product-moment correlation

data:  sco$Score and sco$IQ
t = 6.2169, df = 8, p-value = 0.0002547
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.6572937 0.9788630
sample estimates:
      cor
0.9102242